.AddProfileForm {
  background-color: rgb(128, 142, 147);
  /* rgb(90, 155, 109) */
  width: 100%;
  height: auto;
  max-width: 920px;
  margin: 3% auto;
  border-radius: 4px;
  box-shadow: 4px 8px 18px #737373;
  color:white;
  font-weight: bold;
}

.AddProfileForm div {
  padding: 1% 0 1% 0;
}

.AddProfileForm input[type=text], .AddProfileForm input[type=number]  {
  max-width: 15%;
  margin: 0.5%;
  background: #ffffffed;
  border: 2px solid #c6c6c6;
  border-radius: 4px;
  height: 23px;
  min-width: 185px;
  padding-left: .7%;
}

.AddProfileForm input:focus {
  border-color: #74b3c1;
  box-shadow: 0px 0px 3px #62bde1;
}

.AddProfileForm span {
  margin-right: 1%;
}

.AddProfileForm Button {
  margin-left: 1%;
}