table {
    max-width: 920px;
    margin: 3% auto 10%;
    border-radius: 5px;
    box-shadow: 4px 8px 18px #737373;
    overflow: hidden;
}

thead th {
    background-color:rgb(54, 63, 66);
    /* rgb(80, 132, 149) */
    color: white;
    font-weight: bold;
    padding:1rem;
}

tbody tr {
    background-color: white;
    margin: 1rem;
}

thead th:first-of-type {
    border-top-left-radius: 5px;
}

thead th:nth-last-of-type(1) {
    border-top-right-radius: 5px;
}

tbody tr:nth-last-of-type(1) td:first-of-type {
    border-bottom-left-radius: 1px;
}

tbody tr:nth-last-of-type(1) td:nth-last-of-type(1) {
    border-bottom-right-radius: 1px;
}

tbody tr:nth-last-of-type(1) td {
    background: rgb(228, 228, 228);
}

tbody tr:hover td {
    background: rgb(243, 243, 243);
}