header {
    border: 1px solid black;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px;
}

header > .imgContainer {
    height: 100%;
}

header > .imgContainer > img {
    height: 100%;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    padding: 8px;
}